{% extends 'haulistic/base.html' %}
{% block content %}
<div class="dashboard-table">
	<div class="custom-bg-pattern single">
		<table style="float: left">
			<caption>
				"{{sh_list.list_name}}" &nbsp;&nbsp;&nbsp;&nbsp; <em>{{sh_list.list_category}}</em>
			</caption>
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Product Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for sh_element in sh_elements %}
				<tr>
					<td>{{sh_element.element_name}}</td>
					<td>{{sh_element.element_description}}</td>
					<td>{{sh_element.amount}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="custom-bg-pattern single">
		<table style="float: right">
			<caption>
				"{{td_list.list_name}}" &nbsp;&nbsp;&nbsp;&nbsp; <em>{{td_list.list_category}}</em>
			</caption>
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Product Description</th>
				</tr>
			</thead>
			<tbody>
				{% for td_element in td_elements %}
				<tr>
					<td>{{td_element.element_name}}</td>
					<td>{{td_element.element_description}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
