{% extends 'haulistic/base.html' %}
{% block content %}
<div class="generic-table custom-bg-pattern">
	<table>
		<caption>
			"{{list.list_name}}" &nbsp;&nbsp;&nbsp;&nbsp; <em>{{list.list_category}}</em>
		</caption>
		<thead>
			<tr>
				<th>Task Name</th>
				<th>Task Description</th>
			</tr>
		</thead>
		<tbody>
			{% for element in elements %}
			<tr>
				<td>{{element.element_name}}</td>
				<td>{{element.element_description}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
